# Hardhat
artifacts/
cache/
typechain-types/
typechain/

# Node
node_modules/
dist/

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/src/contracts/Multisig.abi.ts

# Logs
*.log
npm-debug.log*

# Test outputs
coverage/
coverage.json
